<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tabcomputing.tcwallpaper">

    <!--
     Required to act as a custom watch face.
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    -->

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true">
    </uses-feature>

    <application
        android:icon="@mipmap/ic_launcher"
        android:description="@string/app_description"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:theme="@style/AppTheme">

        <activity
            android:icon="@mipmap/ic_launcher"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name="tabcomputing.library.paper.BroadcastSettingsActivity"
            android:label="@string/app_name"
            android:exported="true" />

        <receiver android:name="tabcomputing.library.paper.SettingsReceiver" >
            <intent-filter>
                <action android:name="tabcomputing.wallpaper.broadcast.settings" />
            </intent-filter>
        </receiver>
        -->

        <!--
        <activity
            android:name=".ClockSettingsActivity"
            android:label="@string/app_name"
            android:exported="true" />

        <activity
            android:name=".ClockActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:parentActivityName=".BrowserActivity"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".AcknowledgeActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:parentActivityName=".BrowserActivity"
            android:theme="@style/FullscreenTheme" />
        -->

        <!-- DEPRECATED
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_browser"
            android:theme="@style/FullscreenTheme">
        </activity>
        -->

        <!-- Big Time -->
        <!--
        <service
            android:name=".bigtime.Wallpaper"
            android:label="@string/bigtime_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/bigtime_label"
                android:thumbnail="@drawable/thumbnail_bigtime"
                android:resource="@xml/bigtime_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.bigtime.SettingsActivity"
            android:label="@string/bigtime_label"
            android:exported="true" >
        </activity>
        -->

        <!-- Binary Stripes -->
        <service
            android:name=".binary.Wallpaper"
            android:label="@string/binary_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/binary_label"
                android:thumbnail="@drawable/thumbnail_binary"
                android:resource="@xml/binary_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.binary.SettingsActivity"
            android:label="@string/binary_label"
            android:exported="true" >
        </activity>

        <!-- Caterpillar -->
        <service
            android:name=".caterpillar.Wallpaper"
            android:label="@string/caterpillar_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/caterpillar_label"
                android:thumbnail="@drawable/thumbnail_caterpillar"
                android:resource="@xml/caterpillar_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.caterpillar.SettingsActivity"
            android:label="@string/caterpillar_label"
            android:exported="true" >
        </activity>

        <!-- Checker -->
        <service
            android:name=".checkers.Wallpaper"
            android:label="@string/checkers_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/checkers_label"
                android:thumbnail="@drawable/thumbnail_checkers"
                android:resource="@xml/checkers_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.checkers.SettingsActivity"
            android:exported="true"
            android:label="@string/checkers_label" >
        </activity>

        <!-- Circles -->
        <service
            android:name=".circles.Wallpaper"
            android:label="@string/circles_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/circles_label"
                android:thumbnail="@drawable/thumbnail_circles"
                android:resource="@xml/circles_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.circles.SettingsActivity"
            android:exported="true"
            android:label="@string/circles_label" >
        </activity>

        <!-- Echo -->
        <service
            android:name=".echo.Wallpaper"
            android:label="@string/echo_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/echo_label"
                android:thumbnail="@drawable/thumbnail_echo"
                android:resource="@xml/echo_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.echo.SettingsActivity"
            android:exported="true"
            android:label="@string/echo_label" >
        </activity>

        <!-- Gradient -->
        <service
            android:name=".gradient.Wallpaper"
            android:label="@string/gradient_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/gradient_label"
                android:thumbnail="@drawable/thumbnail_gradient"
                android:resource="@xml/gradient_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.gradient.SettingsActivity"
            android:exported="true"
            android:label="@string/gradient_label" >
        </activity>

        <!-- Horizons -->
        <service
            android:name=".horizons.Wallpaper"
            android:label="@string/horizons_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/horizons_label"
                android:thumbnail="@drawable/thumbnail_horizons"
                android:resource="@xml/horizons_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.horizons.SettingsActivity"
            android:label="@string/horizons_label"
            android:exported="true" >
        </activity>

        <!-- Jack -->
        <service
            android:name=".jack.Wallpaper"
            android:label="@string/jack_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/jack_label"
                android:thumbnail="@drawable/thumbnail_jack"
                android:resource="@xml/jack_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.jack.SettingsActivity"
            android:label="@string/jack_label"
            android:exported="true" >
        </activity>

        <!-- Lotus -->
        <service
            android:name=".lotus.Wallpaper"
            android:label="@string/lotus_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/lotus_label"
                android:thumbnail="@drawable/thumbnail_lotus"
                android:resource="@xml/lotus_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.lotus.SettingsActivity"
            android:exported="true"
            android:label="@string/lotus_label" >
        </activity>

        <!-- Maze -->
        <service
            android:name=".maze.Wallpaper"
            android:label="@string/maze_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/maze_label"
                android:thumbnail="@drawable/thumbnail_maze"
                android:resource="@xml/maze_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.maze.SettingsActivity"
            android:exported="true"
            android:label="@string/maze_label" >
        </activity>

        <!-- Mondrian -->
        <service
            android:name=".mondrian.Wallpaper"
            android:label="@string/mondrian_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/mondrian_label"
                android:thumbnail="@drawable/thumbnail_mondrian"
                android:resource="@xml/mondrian_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.mondrian.SettingsActivity"
            android:exported="true"
            android:label="@string/mondrian_label" >
        </activity>

        <!-- Orb -->
        <service
            android:name=".orb.Wallpaper"
            android:label="@string/orb_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/orb_label"
                android:thumbnail="@drawable/thumbnail_orb"
                android:resource="@xml/orb_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.orb.SettingsActivity"
            android:exported="true"
            android:label="@string/orb_label" >
        </activity>

        <!-- Pie Slice -->
        <service
            android:name=".pieslice.Wallpaper"
            android:label="@string/pieslice_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/pieslice_label"
                android:thumbnail="@drawable/thumbnail_pieslice"
                android:resource="@xml/pieslice_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.pieslice.SettingsActivity"
            android:exported="true"
            android:label="@string/pieslice_label" >
        </activity>

        <!-- Plaid -->
        <service
            android:name=".plaid.Wallpaper"
            android:label="@string/plaid_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/plaid_label"
                android:thumbnail="@drawable/thumbnail_plaid"
                android:resource="@xml/plaid_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.plaid.SettingsActivity"
            android:exported="true"
            android:label="@string/plaid_label">
        </activity>

        <!-- QBert -->
        <service
            android:name=".qbert.Wallpaper"
            android:label="@string/qbert_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/qbert_label"
                android:thumbnail="@drawable/thumbnail_qbert"
                android:resource="@xml/qbert_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.qbert.SettingsActivity"
            android:label="@string/qbert_label"
            android:exported="true" >
        </activity>

        <!-- Radial -->
        <service
            android:name=".radial.Wallpaper"
            android:label="@string/radial_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/radial_label"
                android:thumbnail="@drawable/thumbnail_radial"
                android:resource="@xml/radial_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.radial.SettingsActivity"
            android:exported="true"
            android:label="@string/radial_label" >
        </activity>

        <!-- Ring -->
        <service
            android:name=".ring.Wallpaper"
            android:label="@string/ring_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/ring_label"
                android:thumbnail="@drawable/thumbnail_ring"
                android:resource="@xml/ring_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.ring.SettingsActivity"
            android:label="@string/ring_label"
            android:exported="true" >
        </activity>

        <!-- Solid -->
        <service
            android:name=".solid.Wallpaper"
            android:label="@string/solid_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/solid_label"
                android:thumbnail="@drawable/thumbnail_solid"
                android:resource="@xml/solid_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.solid.SettingsActivity"
            android:exported="true"
            android:label="@string/solid_label">
        </activity>

        <!-- Space -->
        <service
            android:name=".space.Wallpaper"
            android:label="@string/space_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/space_label"
                android:thumbnail="@drawable/thumbnail_space"
                android:resource="@xml/space_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.space.SettingsActivity"
            android:label="@string/space_label"
            android:exported="true" >
        </activity>

        <!-- Stripes -->
        <service
            android:name=".stripes.Wallpaper"
            android:label="@string/stripes_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/stripes_label"
                android:thumbnail="@drawable/thumbnail_stripes"
                android:resource="@xml/stripes_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.stripes.SettingsActivity"
            android:exported="true"
            android:label="@string/stripes_label" >
        </activity>

        <!-- Squares -->
        <service
            android:name=".squares.Wallpaper"
            android:label="@string/squares_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/squares_label"
                android:thumbnail="@drawable/thumbnail_squares"
                android:resource="@xml/squares_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.squares.SettingsActivity"
            android:exported="true"
            android:label="@string/squares_label" >
        </activity>

        <!-- Tile -->
        <service
            android:name=".tile.Wallpaper"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/tile_label"
                android:thumbnail="@drawable/thumbnail_tile"
                android:resource="@xml/tile_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.tile.SettingsActivity"
            android:exported="true"
            android:label="@string/tile_label" >
        </activity>

        <!-- Tile -->
        <service
            android:name=".wave.Wallpaper"
            android:label="@string/wave_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/wave_label"
                android:thumbnail="@drawable/thumbnail_wave"
                android:resource="@xml/wave_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name="tabcomputing.tcwallpaper.wave.SettingsActivity"
            android:exported="true"
            android:label="@string/wave_label" >
        </activity>

    </application>

</manifest>
