<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tabcomputing.wallpaper.binarystripes">
    <application>
        <service
            android:name=".Wallpaper"
            android:label="@string/binary_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/binary_label"
                android:thumbnail="@drawable/binary_thumbnail"
                android:resource="@xml/binary_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/binary_label"
            android:exported="true" >
        </activity>
        <!--
        <receiver android:name="tabcomputing.library.paper.SettingsReceiver" >
            <intent-filter>
                <action android:name="tabcomputing.wallpaper.broadcast.settings" />
            </intent-filter>
        </receiver>
        -->
    </application>
</manifest>
