<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="tabcomputing.wallpaper.radiant">
    <application>
        <service
            android:name=".Wallpaper"
            android:label="@string/radiant_label"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:label="@string/radiant_label"
                android:thumbnail="@drawable/thumbnail"
                android:resource="@xml/radiant_wallpaper">
            </meta-data>
        </service>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/radiant_label" >
        </activity>
    </application>
</manifest>
